@import "variables.less";
/* Include rules for common elements: body, a, ul, li, ... */

a, p {
	letter-spacing: .1em;
}

a {
	color: @link-blue-1;
	text-decoration: none;

	&.is-external {
		&:after {
		   content: '\f08e';
		   font-family: FontAwesome;
		   font-weight: normal;
		   font-style: normal;
		   margin:0px 0px 0px 8px;
		   text-decoration:none;

		}
	}
}

body {
	background: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

div, section {
	box-sizing: border-box;
}

h2 {
	font-size: 3em;
	letter-spacing: 2px;
}

h3 {
	font-size: 1.3em;
}

section {
	position: relative;
}

ul {

}