/*		Colors 		*/

/* Colors nomenclature usage  */
/*
	Each color has a number that correspond with it lightness or hardness.
	For instance, @color-gray-1 it would has more light than @color-gray-5

*/ 

@color-gray-1: #CCC;
@color-gray-2: #EEE;
@color-gray-3: #9D9D9D;

@link-blue-1: #599BDD;

/* 	pallete from http://flatuicolors.com/	*/
@turquoise: #1abc9c;
@esmerald: #2ecc71;
@peter-river: #3498db;
@amethyst: #9b59b6;
@wet-asphalt: #34495e;

@green-sea: #16a085;
@nephritis: #27ae60;
@belize-hole: #2980b9;
@wisteria: #8e44ad;
@midnight-blue: #2c3e50;

@sun-flower: #f1c40f;
@carrot: #e67e22;
@alizarin: #e74c3c;
@clouds: #ecf0f1;
@concrete: #95a5a6;

@orange: #f39c12;
@pumpkin: #d35400;
@pomegranate: #c0392b;
@silver: #bdc3c7;
@asbestos: #7f8c8d;

/* 	 Social Networks colors	*/
@color-facebook: #3B5998;
@color-skype: #12A5F4;
@color-linkedin: #4875B4;
@color-twitter: #33CCFF;
@color-googleplus: #C63D2D;


/* 		Utilities Classes 	*/
.bg- {
	&turquoise {
		background: @turquoise;
	}
	&esmerald {
		background: @esmerald;
	}
	&peter-river {
		background: @peter-river;
	}
	&amethyst {
		background: @amethyst;
	}
	&wet-asphalt {
		background: @wet-asphalt;
	}
	&green-sea {
		background: @green-sea;
	}
	&nephritis {
		background: @nephritis;
	}
	&belize-hole {
		background: @belize-hole;
	}
	&wisteria {
		background: @wisteria;
	}
	&midnight-blue {
		background: @midnight-blue;
	}
	&midnight-blue {
		background: @midnight-blue;
	}
	&sun-flower {
		background: @sun-flower;
	}
	&carrot {
		background: @carrot;
	}
	&alizarin {
		background: @alizarin;
	}
	&clouds {
		background: @clouds;
	}
	&concrete {
		background: @concrete;
	}
	&orange {
		background: @orange;
	}
	&pumpkin {
		background: @pumpkin;
	}
	&pomegranate {
		background: @pomegranate;
	}
	&silver {
		background: @silver;
	}
	&asbestos {
		background: @asbestos;
	}
}

.color- {
	&turquoise {
		color: @turquoise;
	}
	&esmerald {
		color: @esmerald;
	}
	&peter-river {
		color: @peter-river;
	}
	&amethyst {
		color: @amethyst;
	}
	&wet-asphalt {
		color: @wet-asphalt;
	}
	&green-sea {
		color: @green-sea;
	}
	&nephritis {
		color: @nephritis;
	}
	&belize-hole {
		color: @belize-hole;
	}
	&wisteria {
		color: @wisteria;
	}
	&midnight-blue {
		color: @midnight-blue;
	}
	&midnight-blue {
		color: @midnight-blue;
	}
	&sun-flower {
		color: @sun-flower;
	}
	&carrot {
		color: @carrot;
	}
	&alizarin {
		color: @alizarin;
	}
	&clouds {
		color: @clouds;
	}
	&concrete {
		color: @concrete;
	}
	&orange {
		color: @orange;
	}
	&pumpkin {
		color: @pumpkin;
	}
	&pomegranate {
		color: @pomegranate;
	}
	&silver {
		color: @silver;
	}
	&asbestos {
		color: @asbestos;
	}
}


/*		Images Paths 	*/

@bg-header-image: '../../images/bg-header-2.jpg';