/*		Colors 		*/

/* Colors nomenclature usage  */
/*
	Each color has a number that correspond with it lightness or hardness.
	For instance, @color-gray-1 it would has more light than @color-gray-5

*/ 


@color-gray-1: #CCC;
@color-gray-2: #EEE;


@link-blue-1: #599BDD;



/*		Images Paths 	*/

@bg-header-image: '../../images/bg-header.jpg';