<section class="contact-form" id="contact-form">
	<div class="wrapper">
		<div class="section-title">
			<h2>Get in touch</h2>
		</div>
		<div class="section-body wow fadeInUp">
			<form action="/" method="POST">

				<div class="_control-container">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" required>
				</div>
				<div class="_control-container">
					<label for="email">E-mail</label>
					<input type="email" name="email" id="email" required>
				</div>
				<div class="_control-container">
					<textarea rows="6" cols="30" name="comment" id="comment" placeholder= "Your comment here..."required></textarea>
				</div>
				<div class="_control-container util-content-center">
					<input type="submit" value="Send">
				</div>
			</form>
		</div>
	</div>
</section>