<nav id="menu" class="util-hide-content">
	<ul>
		<li>
			<a href="?lang=es">
				Es <img src="images/esp-flag.png" alt="Spanish flag">
			</a>
		</li>
		<li>
			<a href="?lang=en">
				En <img src="images/eng-flag.png" alt="English flag">
			</a>
		</li>
		<li><a href="#description">Sobre mi</a></li>
		<li><a href="#features">Servicios</a></li>
		<li><a href="#skills">Skills</a></li>
		<!--<li><a href="#big-carousel">Carousel</a></li>-->
		<li><a href="#responsive-devices">Responsive</a></li>
		<li><a href="#video-bg">CV</a></li>
		<li><a href="#contact-form">Contact</a></li>
	</ul>
</nav>