<section class="skills" id="skills">
	<div class="wrapper">
		<h2>My skills</h2>
		<div class="pure-g">
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="90"><span>HTML5</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="90"><span>CSS3</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80"><span>LESS</span></div>	
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80"><span>jQuery</span></div>	
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="70"><span>AngularJS</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="75"><span>NodeJS</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80"><span>.NET</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="50"><span>PHP</span></div>
			</div>
		</div>
	</div>
</section>