<section class="skills" id="skills">
	<div class="wrapper">
		<h2>My skills</h2>
		<div class="pure-g">
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="90">HTML5 <span>90%</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="90">CSS3 <span>90%</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80">LESS <span>80%</span></div>	
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80">jQuery <span>80%</span></div>	
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="70">AngularJS <span>70%</span></div>	
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="75">NodeJS <span>75%</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="80">.NET <span>80%</span></div>
			</div>
			<div class="pure-u-1-2 pure-u-md-6-24">
				<div class="chart" data-percent="50">PHP <span>50%</span></div>
			</div>
		</div>
	</div>
</section>