<section class="three-col-features" id="features">
	<div class="wrapper">
		<div class="section-title">
			<h2>Servicios</h2>
		</div>
		<div class="section-body wow fadeInUp" data-wow-delay=".5s">
			<div class="three-col-section">
				<div class="table">
					<div class="row">
						<div class="col">
							<div class="util-content-center">
								<i class="fa fa-code circle bg-esmerald"></i>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dicta eos tempora, blanditiis officiis doloremque, aperiam nobis voluptate sequi iure esse repellendus itaque animi minima quis quae sapiente nihil dolorum?</p>
						</div>
						<div class="col">
							<div class="util-content-center">
								<i class="fa fa-desktop circle bg-peter-river"></i>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore maxime debitis fugit dig.</p>
						</div>
						<div class="col">
							<div class="util-content-center">
								<i class="fa fa-gears circle bg-alizarin"></i>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, rerum. Asperiores laboriosam, tenetur eveniet ven sit.</p>
						</div>						
					</div>															
				</div>
			</div>	
		</div>
	</div>
</section>