<section class="three-col-features" id="features">
	<div class="wrapper">
		<div class="section-title">
			<h2>Servicios</h2>
		</div>
		<div class="section-body wow fadeInUp" data-wow-delay=".5s">
			<div class="three-col-section">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="_box">
							<h3 class="util-content-center"> Column Title</h3>
							<div class="_body">
								<div class="_img util-content-center">
									<i class="fa fa-code bg-esmerald"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam, quasi corrupti error tenetur quod temporibus quidem, facere ullam provident explicabo perferendis dolor vitae sed et quis aliquid laborum dolores!</p>
							</div>
						</div>
					</div>
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="_box">
							<h3 class="util-content-center"> Column Title</h3>
							<div class="_body">
								<div class="_img util-content-center">
									<i class="fa fa-desktop bg-peter-river"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam, quasi corrupti error tenetur quod temporibus quidem, facere ullam provident explicabo perferendis dolor vitae sed et quis aliquid laborum dolores!</p>
							</div>
						</div>
					</div>					
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="_box">
							<h3 class="util-content-center"> Column Title</h3>
							<div class="_body">
								<div class="_img util-content-center">
									<i class="fa fa-cogs bg-alizarin"></i>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam, <a href="http://www.google.com" class="is-external" target="_blank">quasi corrupti</a> error tenetur quod temporibus quidem, facere ullam provident explicabo perferendis dolor vitae sed et quis aliquid laborum dolores!</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>