<section class="title-text" id="description">
	<div class="wrapper">
		<div class="section-title">
			<h2>Sobre mi</h2>
		</div>
		<div class="section-body wow fadeInUp" data-wow-delay=".5s">
			<p><strong>Bienvenido!</strong></p>
			<p>Me llamo Pablo Valor, tengo 26 años y soy de Buenos Aires, Argentina. Me dedico al <strong>diseño y programación web</strong>.</p>
			<p>Estoy estudiando  la carrera de Ing. Informática y la Tecnicatura Web en <a href="http://www.unlam.edu.ar/" target="_blank" class="is-external" title="Universidad Nacional de La Matanza">UNLaM</a>.</p>
			<p>Actualemente me encuentro trabajando en <a href="http://tercerplaneta.com" target="_blank"class="is-external" title="Tercer Planeta">Tercer Planeta</a> desempeñandome como programador web en tecnologías .NET además de realizar tareas de frontend.</p>
		</div>
	</div>
</section>