<section class="title-image-text" id="responsive-devices">
	<div class="wrapper">
		<div class="section-title">
			<h2>Responsive Devices</h2>
		</div>
		<div class="section-body wow fadeInUp" data-wow-delay=".5s">
			<div class="title-image-text">
				<div class="_img-container">
					<img src="images/devices.png" alt="devices image">
				</div>
			</div>
			<p class="wow fadeInRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, itaque. Quod sunt nobis incidunt mollitia numquam, rerum dolore accusamus quae alias voluptatibus nostrum quas voluptates quia quaerat reprehenderit. Non, ad.</p>	
		</div>
	</div>	
</section>