<section class="title-image-text" id="responsive-devices">
	<div class="wrapper">
		<div class="section-title">
			<h2>Responsive Devices</h2>
		</div>
		<div class="_section-body wow fadeInUp" data-wow-delay=".5s">
			<div class="_devices-wrapper">
				<div class="_laptop">
					<img src="images/laptop.png" alt="laptop">
				</div>
				<div class="_tablet">
					<img src="images/tablet.png" alt="tablet">
				</div>
				<div class="_mobile">
					<img src="images/mobile.png" alt="mobile">
				</div>
			</div>
		</div>
	</div>	
</section>