@import "../01-base/variables.less";

.util- {

	&content-center {
		text-align: center;
	}

	&content-left {
		text-align: left;
	}

	&content-right {
		text-align: right;
	}

	&without-margin-bottom {
		margin-bottom: 0;
	}

	&without-margin-top {
		margin-top: 0;
	}
	&horizontal-line {
		height: 1px;
		display: block;
		margin: 1em 0;
	}
}