@media screen and (max-width: 544px) {
	header h2, h2 {
		font-size: 2.5em;
	}
	.videoBG-text {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 409px) {
	header h2, h2 {
		font-size: 2em;
	}
	.videoBG-text {
		font-size: 1em;
	}
}