@media screen and (max-width: 667px) {
	p {
		font-size: .9em;
	}
}
@media screen and (max-width: 544px) {
	header h2, h2 {
		font-size: 2.2em;
	}
	.videoBG-text {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 409px) {
	header h2, h2 {
		font-size: 2em;
	}
	.videoBG-text {
		font-size: 1em;
	}
}

@media screen and (max-width: 768px) {
	.responsive-devices {
		img {
			display: inline;
		}
		._mobile {
			position: initial;
			padding-top: 0;
		}
	}

	.contact-form {
		.section-body {
			form {
				padding: 0;
			}
		}
	}
	#_arrow {
		margin-top: .4em;
	}
}

@media screen and (max-width: 600px) {
	._laptop{ 
		img {
			width: 300px;
		}
	}
}

@media screen and (max-width: 400px) {
	.skills {
		.chart {
			padding: 1em 0 0 0;
		}
	}
}

@media screen and (max-width: 920px) {
	.big-carousel ._slice-1, .big-carousel ._slice-2, .big-carousel ._slice-3 {
		._img-container img{
			padding-bottom: 0;
			width: 200px;
		}
		._body p{
			margin: 0;
		}
	}
}

@media screen and (max-width: 500px) {
	.videoBG-text {
		&#video-bg {
			height: 400px;
		}
		.mbYTP_wrapper {
			min-height: 400px !important;
		}
	}
}