@media screen and (max-width: 544px) {
	header h2, h2 {
		font-size: 2.5em;
	}
	.videoBG-text {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 409px) {
	header h2, h2 {
		font-size: 2em;
	}
	.videoBG-text {
		font-size: 1em;
	}
}

@media screen and (max-width: 768px) {
	.responsive-devices {
		img {
			display: inline;
		}
		._mobile {
			position: initial;
			padding-top: 0;
		}
	}
}
@media screen and (max-width: 600px) {
	._laptop{ 
		img {
			width: 300px;
		}
	}
}