@import "../01-base/variables.less";

section {
	.wrapper {
		padding: 3em 1em;
		margin: 0 auto;
		max-width: 1024px;
	}
	.section-title {
		text-align: center;
		padding-bottom: .5em;
	}
	.section-body {
	}
	 /* By default, each Section has a white triangle.
	 	Each section file must overwrite the color by it bg color.
	 */
	&:after {
		border-top: 2em solid white;
		border-left: 2em solid transparent;
		border-right: 2em solid transparent;
		content: "";
		display: inline-block;
		left: 50%;
		margin-left: -2em;
		height: 0;
		width: 0;
		position: absolute;
		z-index: 1;
	}
}