@import '../01-base/variables.less';

#features::after {
	border-top: 2em solid @clouds;
}

.three-col-features {
	background: @clouds;
	._box {
		border: 1px solid @color-gray-1;
		border-bottom-width: .2em;
		border-radius: .5em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-color: @color-gray-3;
		margin: 0 .5em .5em;
		padding: 0 1em;

		._body {
			._img i{
				border-radius: 100%;
				padding: .3em;
				font-size: 5em;
			}
			
		}
	}
}