@import '../01-base/variables.less';

#responsive-devices::after {
	border-top: 2em solid @peter-river;
}

.title-image-text{
	background: @peter-river;

	h2, p {
		color: @clouds;
	}

	._img-container {
		text-align: center;
		margin-bottom: 2em;
		img {
			width: 100%;
			max-width: 600px;
		}
	}
}