@import '../01-base/variables.less';

#video-bg::after {
	border-top: 2em solid @esmerald;
}
.videoBG-text {
	background: @esmerald;

	h2, p {
		color: @clouds;
	}

    .player {
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 500;
    }
}