@import '../01-base/variables.less';

header {
	background-image: url(@bg-header-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 600px;

	h2 {
		color: white;
		font-size: 5em;
		text-align: center;
		margin: 0 auto;
	}
}