@import '../01-base/variables.less';

header {
	background-image: url(@bg-header-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	display: table;
	text-align: center;
	//height set via javascript 
	width: 100%;
	h2 {
		color: white;
		display: table-cell;
		font-size: 5em;
		margin: 0;
		vertical-align: middle;
	}

	.arrow {
		animation-name: upAndDown;
		animation-duration: 1s;
		animation-direction: alternate;
		animation-timing-function: ease-out;
 		animation-fill-mode: forwards;
 		animation-iteration-count: infinite;
 		bottom: .1em;
		color: white;
		font-size: 4em;
		left: 0;
		right: 0;
		position: absolute;
	}
}

@keyframes upAndDown {
	0% {
		margin-bottom: 0;
	}
	100% {
		margin-bottom: .4em;
	}
}