@import '../01-base/variables.less';

.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
nav {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #283744;
    a {
		color: #fff;
		display: inline-block;
		width: 100px;
		text-align: center;
		text-decoration: none;
		line-height: 40px;
		text-shadow: 1px 1px 0px #283744;	    	
		&:hover, &:active {
			background-color: #8c99a4;
		}
		&#pull {
			display: none;
		}
    }
    ul {
		padding: 0;
	    margin: 0 auto;
	    width: 600px;
	    height: 40px;
	    li {
	    	display: inline;
			float: left;
			&:last-child a {
				border-right: 0;
			}
			a {
				border-right: 1px solid #576979;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;    				
			}
	    }
    }		
}