<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Personal website</title>

	<meta name="viewport" content="width=device-width, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	{% if isProduction %}
		<link rel="stylesheet" type="text/css" href="styles/main.min.css">
	{% else %}
		<link rel="stylesheet" type="text/css" href="styles/main.css">
	{% endif %}
	
</head>
<body>
	{% include "partials/header.html" %}

	{% include "partials/three-col-features.html" %}
	{% include "partials/title-text.html" %}
	{% include "partials/title-image-text.html" %}
	{% include "partials/videoBG-text.html" %}

	{% include "partials/footer.html" %}
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	{% if isProduction %}
		<script type="text/javascript" src="scripts/main.min.js"></script>
	{% else %}
		<script type="text/javascript" src="scripts/main.js"></script>
	{% endif %}
</body>
</html>