<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<title>Personal website</title>

	<meta name="viewport" content="width=device-width, user-scalable=no">

	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<!-- Custom modernizr -->
	<script type="text/javascript" src="scripts/modernizr.custom.min.js"></script>
	<!-- Google maps API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
	{% if isProduction %}
		<link rel="stylesheet" type="text/css" href="styles/pablovalor.min.css">
	{% else %}
		<link rel="stylesheet" type="text/css" href="styles/pablovalor.css">
	{% endif %}
	
</head>
<body>
	{% include "partials/header.html" %}
	{% include "partials/menu.html" %}
	{% include "partials/title-text.html" %}
	{% include "partials/three-col-features.html" %}
	{% include "partials/skills.html" %}
	{% include "partials/big-carousel.html" %}
	{% include "partials/responsive-devices.html" %}
	{% include "partials/videoBG-text.html" %}
	{% include "partials/contact-form.html" %}
	{% include "partials/map.html" %}
	{% include "partials/footer.html" %}

	{% include "partials/preload.html" %}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	{% if isProduction %}
		<script type="text/javascript" src="scripts/dist/pablovalor.min.js"></script>
	{% else %}
		<script type="text/javascript" src="scripts/dist/pablovalor.js"></script>
	{% endif %}
</body>
</html>